{% extends 'KsAdminLteThemeBundle::index.html.twig' %}

{% block content %}	
	<section class="content">
	  <div class="error-page">
		<h2 class="headline text-yellow"> 404</h2>
		<div class="error-content">
		  <br />
		  <br />
		  <h3><i class="fa fa-warning text-yellow"></i> Página no encontrada.</h3>
		  <p></p>
		</div>
	  </div>
	</section>
{% endblock %}