<div style="text-align:center;margin-top:40px;">
	<a href="{{ path('homepage') }}" style="text-decoration:none;">
		<img src="{{ asset('app-bundle/images/app-icon.png') }}" height="48px" />
		<p style="display:inline;margin-left:10px;vertical-align:middle;">MyApp</p>
	</a>
</div>